
[Desktop Entry]
Type=Application
Name=SSH Handler
Exec=~/bin/ssh-handler.sh %u
Icon=utilities-terminal
StartupNotify=false
MimeType=x-scheme-handler/ssh

